services:
  app:
    build: .
    container_name: darna_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
      - minio
    volumes:
      - .:/usr/src/app
    networks:
      - darna_network

  mongo:
    image: mongo:6
    container_name: darna_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - darna_network

  minio:
    image: quay.io/minio/minio
    container_name: darna_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - darna_network

volumes:
  mongo_data:
  minio_data:

networks:
  darna_network:
    driver: bridge
